PORT=7777
DB_HOST=localhost
DB_USER=sougata
DB_PASSWORD=123456
DB_NAME=visitor_management
DB_PORT=3306
JWT_SECRET=6B1E8ACCBA3F9167769A86953822D
HOST_URL=https://localhost:7777
USER_EMAIL=your_email
APP_PASSWORD=your_app_password
SMS_API_KEY=mtalkz_api_key
SMS_SENDER_ID=mtalkz_sender_id
SMS_API_URL=https://msg.mtalkz.com//V2/http-api-sms.php
SMS_VERIFICATION_URL=http://msg.mtalkz.com/V2/http-verifysms-api.php